.container {
  text-align: center;
}

.jumbotron {
  background-image: url("https://sites.google.com/site/miniaturephersu/_/rsrc/1304969808239/gallerie/il-castello-austriaco-monty-python-e-il-sacro-graal/I%20fart%20in%20your%20general%20direction.jpeg");
  background-size: cover;
  height: 400px;
}

.jumbotron p {
  font-size: 30px;
  margin-top: 20px;
  background-color: white;
}
